$body-color: #281D60;
$primary-color: #322765;
$active-color: #37c2ff;
$icon-color: #5E5295;
$danger-color: #FF7070;
$small-color: #7c70b2;
$small-color-light: #AB9AFA;
$success-color: #A0E630;
$primary-inner-color: #413577;
$purple-border-color: #9D88FF;
$modal-z-index: 100;
$modal-background-z-index: 99;
$auth-text-color: #9184D1;
$auth-background-color: #3F3473;
$success-snackbar-color-light: #6CAC2C;
$success-snackbar-color-dark: #5F9A23;
$error-snackbar-color-light: #CD4646;
$error-snackbar-color-dark: #C13939;
$warning-snackbar-color-light: #FFB800;
$warning-snackbar-color-dark: #EEAB00;
