$body-color: #281D60;
$primary-color: #322765;
$active-color: #37c2ff;
$icon-color: #5E5295;
$danger-color: #FF7070;
$small-color: #7c70b2;
$small-color-light: #AB9AFA;
$success-color: #A0E630;
$primary-inner-color: #413577;
$purple-border-color: #9D88FF;
$modal-z-index: 100;
$modal-background-z-index: 99;